.App {
  font-family: 'Roboto Mono', monospace;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.ChannelList {
  background-color: #333333;
  color: white;
  padding-left: 20px;
  height: 100%;
}

.ChannelListItem {
  cursor: pointer !important;
}

.ChannelListTitle {
  padding-top: 10px;
  align-text: center;
}

.sidebar {
  float: left !important;
  height: 100% !important;
  min-height: 100%;
}

#main {
  height: 100% !important;
}

.HomePage {
  font-family: 'Roboto Mono', monospace;
  padding: 20px;
  align-text: center;
  height: 100% !important;
  background-color: #eee;
}

html, #root, body{
  height: 100%;
  min-height: 100%;
}

