.App {
  font-family: 'Roboto Mono', monospace;
  height: 100%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.ChannelList {
  background-color: #333333;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  word-wrap: normal;
  box-shadow: 10px 10px grey;
}

.ChannelListItem {
  cursor: pointer !important;
}

.ChannelListTitle {
  padding-top: 10px;
  padding-right: 15px;
  text-align: center;
}

#main {
  height: 100% !important;
}

.Jumbotron {
  background-color: #938e94;
  text-align: center;
  font-size: 2em;
  padding: 20px;
  font-family: 'Roboto Mono', monospace;
  height: 50%;
}

html, #root, body{
  height: 100%;
  min-height: 100%;
  background-color: #7395ae;
}

.pointer {
  cursor: pointer;
}

.UserList * {
  background-color: #eee;
}
